
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Group Test">
    <test>
        <groups>
            <run>
              <include name = "Regression_test"></include>
              <include name = "Sanity_test"></include>
            </run>
        </groups>
        <classes>
            <class name="QKART_Tests"></class>
        </classes>
    </test>
</suite>